.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  height: 12vh;
  color:black;
  border-bottom: 1px solid black;
}

.navLinks {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

}

.navLinks li {
  margin-left: 1rem;
  font-size: 1.3rem;
  align-self: center;
}

.logo img{
  height: 80px;
   width: auto;
   margin-left: 45vw;
  
}

.navLinks li a:hover {
  color: teal;
}

.userimg  img{

  height: 85px;
  width: auto;
  border-radius: 100%;
}

.userimg img:hover{
  cursor: pointer;
}


.dropdown {
position: absolute;
background-color:rgb(3, 162, 162);
border-radius: 14px;
padding: 5px 16px;
z-index: 1000;

}

.dropdown li {
  color: white;
}

.dropdown li:hover{
  cursor: pointer;
}

@media (max-width: 850px) {
  .logo img{
    margin-left: 0px;
  }
}

